html {
  @include tablets() {
    font-size: 15px;
  }
  @include mobile() {
    font-size: 14px;
  }
  @include mini() {
    font-size: 13px;
  }
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: $Ubuntu, "Arial Narrow", sans-serif;
  font-size: rem(14px);
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

button,
input {
  font: 400 rem(14px) $Ubuntu, "Arial Narrow", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

address {
  font-style: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  min-height: 650px;
  @include tablets(){
    min-height: 1024px;
  }
  @include mobile(){
    min-height: 800px;
  }
}

.container {
  @include container()
}

.content {
  flex: 1;
}
.blocked-scroll {
  overflow: hidden;
}
.arrow {
  &--scroll {
    background: url('../img/hero/arrow-scroll.png') no-repeat center center;
    width: rem(29px);
    height: rem(14px);
    align-self: center;
    margin: auto 0 5%;
  }
  &__link {
    display: block;
    padding: 7px 15px;
  }
}

.points {
  position: fixed;
  top: rem(86px);
  align-self: flex-end;
  margin-left: -2.5%;
  z-index: 100;
  &__list {
    display: flex;
    flex-direction: column;
    height: 190px;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .5s;
    z-index: 1;
    &--current,
    &:hover {
      border: 1px solid #fff;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      background-color: #fff;
      border-radius: 50%;
      margin: auto;
      cursor: pointer;
    }
  }
  &__link {
    position: absolute;
    z-index: 2;
    display: block;
    padding: 8px;
  }
}