// color
$yellow: #f9b43b;
$dark: #2f3234;
$red: #e45028;
//var fonts
@mixin fontface($fontName, $urlName: $fontName, $weight: normal, $style: normal) {
  @font-face {
    font-family: '${fontName}';
    src: url('/fonts/${urlName}/${urlName}.eot');
    src: url('/fonts/${urlName}/${urlName}.eot#iefix') format('embedded-opentype'),
    url('/fonts/${urlName}/${urlName}.woff') format('woff'),
    url('/fonts/${urlName}/${urlName}.ttf') format('truetype'),
    url('/fonts/${urlName}/${urlName}.svg') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

//fonts
$Ubuntu: 'Ubuntu';
$Ubuntu-Bold: '${Ubuntu}-Bold';
$Ubuntu-Light: '${Ubuntu}-Light';
$Ubuntu-Medium: '${Ubuntu}-Medium';
$Lifehack: 'Lifehack';
$Gagalin: 'Gagalin';
@mixin container() {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin btn($color,
$bkg,
$hover) {
  color: $color;
  background-color: $bkg;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $hover;
  }
}

@mixin section($url) {
  width: 100%;
  height: 100vh;
  background: url($url) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

@mixin title ($color, $align){
  text-align: $align;
  font-family: $Gagalin, "Arial Narrow", sans-serif;
  font-size: 72px;
  color: $color;
}
@mixin input(){
  color: $dark;
  font-family: $Ubuntu, "Arial Narrow", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  width: 100%;
  border: 2px solid #d1cfcb;
  padding: 5px 0 5px 21px;
  box-sizing: border-box;
  border-radius: 5px;
  &:focus{
    outline: none;
    border: 2px solid $yellow;
  }
}
