// vars
$yellow: #f9b43b;
$dark: #2f3234;
$red: #e45028;
$height: 100vh;
$tablets: 768px;
$mobile: 480px;

//var fonts
$Ubuntu: 'Ubuntu';
$Ubuntu-Bold: '#{$Ubuntu}-Bold';
$Ubuntu-Light: '#{$Ubuntu}-Light';
$Ubuntu-Medium: '#{$Ubuntu}-Medium';
$Lifehack: 'Lifehack-Medium';
$Gagalin: 'Gagalin-Regular';


//mixin fontface
@mixin fontface($fontName, $urlName: $fontName, $weight: normal, $style: normal) {
  @font-face {
    font-family: '#{$fontName}';
    src: url('../fonts/#{$urlName}/#{$urlName}.eot');
    src: url('../fonts/#{$urlName}/#{$urlName}.eot#iefix') format('embedded-opentype'),
    url('../fonts/#{$urlName}/#{$urlName}.woff') format('woff'),
    url('../fonts/#{$urlName}/#{$urlName}.ttf') format('truetype'),
    url('../fonts/#{$urlName}/#{$urlName}.svg') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin container() {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin btn($color, $bkg, $hover) {
  color: $color;
  background-color: $bkg;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $hover;
  }
}

@mixin offBtnStyle {
  padding: 0;
  background-color: transparent;
  border: none;
  &:focus{
    outline: none
  }
}

@mixin section($url) {
  width: 100%;
  height: $height;
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

@mixin title ($color, $align){
  text-align: $align;
  font-family: $Gagalin, "Arial Narrow", sans-serif;
  font-size: rem(72px);
  color: $color;
  @include mobile() {
    font-size: rem(65px);
  }
}
@mixin input(){
  color: $dark;
  font-weight: 300;
  width: 100%;
  border: 2px solid #d1cfcb;
  padding: 5px 0 5px 21px;
  box-sizing: border-box;
  border-radius: 5px;
  &:focus{
    outline: none;
    border: 2px solid $yellow;
  }
}

// PX to REM function
@function rem($px: 16px) {
  @return ($px / 16px) + rem;
}

// Breakpoints  
@mixin tablets {
  @media screen and (max-width: $tablets){
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $mobile){
    @content;
  }
}