.burgers{
    width: 100%;
    height: $height;
    background-color: $yellow;
    background-image: linear-gradient(to top, $yellow 0%, #eb8c38 48%, $yellow 74%, $yellow 100%);
    overflow: hidden;
  }
