.burgers {
  width: 100%;
  height: $height;
  background-color: $yellow;
  background-image: linear-gradient(to top, $yellow 0%, #eb8c38 48%, $yellow 74%, $yellow 100%);
  overflow: hidden;
  display: flex;
  padding: 5% 0;
  box-sizing: border-box;
  &__container {
    display: flex;
    flex-direction: row;
    padding: 0;
    @include tablets() {
      flex-direction: column;
      justify-content: center;
      max-width: 90%;
    }
    @include mobile() {
      max-width: 100%;
    }
  }
  &__left,
  &__right {
    flex: 0 1 5%;
    display: flex;
    align-items: center;
  }
  &__left {
    justify-content: flex-end;
  }
  &__right {
    justify-content: flex-start;
  }
  &__prev,
  &__next {
    width: 14px;
    height: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
  &__prev {
    background-image: url('../img/icons/arrow-left.svg');
  }
  &__next {
    background-image: url('../img/icons/arrow-right.svg');
  }
  &__center {
    flex: 1;
  }
  &__logo {
    flex: 0 1 52%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablets() {
      justify-content: space-between;
      flex-wrap: wrap;
      flex: 0 1 auto;
      flex-direction: row;
    }
    &-img {
      margin: 0 auto;
      @include tablets() {
        order: 1;
      }
    }
  }
  &__structure {
    order: 0;
    align-self: flex-start;
    width: rem(90px);
    height: rem(90px);
    background-color: $red;
    opacity: .4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: opacity .5s;
    @include tablets() {
      align-self: auto;
    }
    &:hover {
      opacity: 1;
      .burgers__weight {
        left: rem(90px);
        opacity: .9;
      }
    }
    &-img {
      width: rem(46px);
      height: rem(44px);
    }
    &-title {
      @include title(#fff,
      center);
      font-size: rem(14px);
      @include mobile() {
        font-size: rem(14px);
      }
    }
  }
  &__weight {
    width: rem(270px);
    height: rem(332px);
    background-color: #ffffff;
    opacity: 0;
    z-index: 100;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: -9999px;
    transition: opacity .5s;
    display: flex;
    @include mobile() {
      width: rem(370px);
      
    }
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      flex: 1;
    }
    &-item {
      display: flex;
      align-items: center;
    }
    &-picture {
      flex: 0 1 90px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-beef {
      width: 44px;
      height: 39px;
    }
    &-salad {
      width: 38px;
      height: 38px;
    }
    &-buns {
      width: 48px;
      height: 30px;
    }
    &-sauce {
      width: 41px;
      height: 43px;
    }
    &-cucumber {
      width: 43px;
      height: 37px;
    }
    &-cheese {
      width: 39px;
      height: 34px;
    }
    &-title {
      flex: 1;
      text-align: left;
      font-weight: 500;
    }
    &-quantity {
      flex: 0 1 53px;
      font-weight: 300;
    }
  }
  &__close {
    display: none;
    @include mobile(){
      display: block;
    }
    &::after,
    &::before {
      background-color: $red!important;
    }
  }
  &__calories {
    opacity: .4;
    align-self: flex-start;
    position: relative;
    @include tablets() {
      order: 0;
    }
    &-kkal {
      width: 60px;
      height: 60px;
    }
    @include tablets() {}
    &-title {
      @include title(#fff,
      center);
      color: #ffffff;
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(35%);
      @include mobile() {
        font-size: 20px;
      }
      &::after {
        content: "ккал";
        display: block;
        padding-top: 10px;
        font-size: rem(14px);
      }
    }
  }
  &__content {
    flex: 0 1 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablets() {
      align-items: center;
      flex: 0 1 auto;
    }
  }
  &__title {
    @include title(#fff,
    left);
    line-height: 1;
    margin-bottom: 40px;
    @include tablets() {
      text-align: center;
    }
  }
  &__text {
    color: #fff;
    font-weight: 300;
    margin-bottom: 35px;
    @include tablets() {
      text-align: center;
    }
  }
  &__offer {
    display: flex;
    align-items: center;
    @include tablets() {
      justify-content: center;
    }
  }
  &__price {
    width: auto;
    @include title($red,
    left);
    letter-spacing: rem(-1.79px);
    line-height: 1;
    &-rub {
      @include title($red,
      left);
      align-self: flex-end;
      font-size: rem(30px);
      letter-spacing: rem(-0.75px);
      @include mobile() {
        font-size: rem(30px);
      }
    }
  }
  &__button {
    @include btn(#fff,
    $red,
    #c1401e);
    font-size: rem(13px);
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 6%;
    padding: 10.5px 16px;
    align-self: flex-end;
  }
}