//burgermenu section
.burgermenu {
  @include section('../img/burgermenu/menu.jpg');
  display: flex;
  &__title {
    @include title(#fff, center);
    margin: 18% 0 0;

    @include mobile() {
      font-size: rem(58px);
      margin: 18% 0 0 18%;
    }
    @include mini() {
      font-size: rem(58px);
    }
  }
  &__left {
    width: 40%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    opacity: 1;
    @include tablets(){
      width: 50%;
    }
    @include mobile(){
      width: 40%;
    }
    &--hide {
      opacity: 0;
      width: 0!important;
      visibility: hidden;
    }
  }
  &__right {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    z-index: 100;
    @include tablets(){
      width: 50%;
    }
    @include mobile(){
      width: 60%;
    }
    &--show {
      width: 100%!important;
      visibility: visible;
    }
  }
  &__list {
    display: flex;
    transition: transform 1s;
  }
  &__item {
    display: flex;
    cursor: pointer;
    &--active {
      .burgermenu__block-title {
        color: $yellow;
      }
      .burgermenu__text {
        visibility: visible;
        opacity: 1;
        padding: 13% 8% 0 7%;
        transition: opacity .3s;
        transition-delay: .9s;
      }
      .burgermenu__close {
        @include mobile() {
          display: block;
        }
      }
    }
  }
  &__block {
    position: relative;
    width: rem(80px);
    display: flex;
    height: 100%;
    @include mini() {
      width: rem(65px);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(20, 20, 20, 0.7);
    }
    &--meat {
      background: url('../img/burgermenu/formeat.jpg') center center no-repeat;
      background-size: cover;
    }
    &--vegan {
      background: url('../img/burgermenu/forvegan.jpg') center right no-repeat;
      background-size: cover;
    }
    &--diet {
      background: url('../img/burgermenu/fordiet.jpg') center right no-repeat;
      background-size: cover;
    }
    &-title {
      font-family: $Gagalin, "Arial Narrow", sans-serif;
      color: #fff;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: rem(40px);
      transform: rotate(-90deg);
      transform-origin: rem(13px) 0 0;
      align-self: flex-end;
      white-space: nowrap;
      @include mini() {
        font-size: rem(35px);
        transform-origin: rem(7px) 0 0;
      }
      &:focus {
        outline: none;
      }
    }
  }
  &__content{
    width: 0;
    transition: 1s;
    background-color: rgba(47, 50, 52, 0.93);
  }
  &__text {
    visibility: hidden;
    opacity: 0;
    color: #ffffff;
    font-weight: 300;
  }
  &__close {
    @include offBtnStyle;
    display: none;
  }
}