.burgers {
  width: 100%;
  height: $height;
  background-color: $yellow;
  background-image: linear-gradient(to top, $yellow 0%, #eb8c38 48%, $yellow 74%, $yellow 100%);
  overflow: hidden;
  display: flex;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__left,
  &__right {
    flex: 0 1 5%;
    display: flex;
    align-items: center;
  }
  &__left {
    justify-content: flex-end;
  }
  &__right {
    justify-content: flex-start;
  }
  &__prev,
  &__next {
    width: 14px;
    height: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
  &__prev {
    background-image: url('../img/icons/arrow-left.svg');
  }
  &__next {
    background-image: url('../img/icons/arrow-right.svg');
  }
  &__center {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &__logo {
    flex: 0 1 52%;
    position: relative;
  }
  &__structure {
    position: absolute;
    top: -77px;
    left: 0;
    width: 90px;
    height: 90px;
    background-color: $red;
    opacity: .4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &-img {
      width: 46px;
      height: 44px;
      background-image: url('../img/icons/burger.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }
    &-title {
      @include title(#fff, center);
      font-size: rem(14px);

    }
  }
  &__content {
    flex: 0 1 48%;
  }
  &__title {
    @include title(#fff,
    left);
    line-height: 1;
    margin-bottom: 40px;
  }
  &__text {
    color: #fff;
    font-weight: 300;
    margin-bottom: 35px;
  }
  &__offer {
    display: flex;
    align-items: center;
  }
  &__price {
    @include title($red,
    center);
    letter-spacing: rem(-1.79px);
    margin-right: 30px;
    line-height: 1;
    &-rub {
      font-size: rem(30px);
      margin-left: -10px;
      letter-spacing: rem(-0.75px);
    }
  }
  &__button {
    @include btn(#fff,
    $red,
    #c1401e);
    font-size: rem(13px);
    text-transform: uppercase;
    font-weight: 500;
    padding: 10.5px 16px;
    align-self: flex-end;
  }
}