.header {
  display: flex;
  align-items: center;
  padding-top: 12px;
  justify-content: space-between;
  &__menu {
    margin-left: 7%;
    &--list {
      display: flex;
      align-items: center;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      margin: 0 5px;
    }
    &--item {
      &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin: 0 11px;
        background-color: #fff;
      }
      &:last-child::after {
        display: none;
      }
    }
    &--link {
      position: relative;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      opacity: 1;
      transition: opacity .3s;
      &:hover{
        opacity: .8;
      }
    }
    &--button {
      @include btn(#fff, $red, #c1401e);
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      padding: 10.5px 16.5px;
      margin: 0 15px;
    }
  }
}