.header {
  display: flex;
  align-items: center;
  padding-top: 12px;
  justify-content: space-between;
  &__logo {
    &--link {
      display: inline-block;
    }
  }
  &__menu {
    margin-left: 7%;
    &--list {
      display: flex;
      align-items: center;
      font-family: $Ubuntu, "Arial Narrow", sans-serif;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      margin: -7px 0 0 5px;
    }
    &--item {
      &::after {
        content: "\2022";
        margin: 0 15px;
        color: #fff;
      }
      &:last-child::after {
        display: none;
      }
      &-current{
        a::after{
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $red;
          height: 3px;
          width: 100%;
        }
      }
    }
    &--link {
      position: relative;
      color: #fff;
      text-decoration: none;
      padding-bottom: 6px;
      cursor: pointer;
      opacity: 1;
      transition: opacity .3s;
      &:hover{
        opacity: .8;
      }
    }
    &--button {
      @include btn(#fff, $red, #c1401e);
      font-size: 13px;
      padding: 10.5px 16.5px;
      margin: 0 0px 6px 15px;
    }
  }
}