.overlay {
  position: fixed;
  top: 0;
  left: 9999px;
  right: 0;
  bottom: 0;
  z-index: 9000;
  background-color: rgba(47, 50, 52, 0.92);
  opacity: 0;
  transition: opacity .6s;
  cursor: pointer;
}

.modal {
  position: relative;
  z-index: 9999;
}

.open {
  left: 0;
  opacity: 1;
}