//reviews section
.reviews {
  height: 650px;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    flex: 0 1 25%;
    height: 50%;
    &--figure {
      position: relative;
      &:hover .reviews__item--figcaption{
        opacity: 1;
        left: 0;
        transition: .6s;
      }
    }
    &--img {
      filter: grayscale(100%);
      width: 100%;
    }
    &--figcaption {
      position: absolute;
      top: 0;
      left: -9999;
      height: 100%;
      opacity: 0;
      transition: .6s;
      background-color: rgba(20, 20, 20, 0.7);
    }
    &--wrap {
      margin: 14% 9% 0 8%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &--title {
      color: #ffffff;
      font-family: Gagalin;
      font-size: 14px;
      line-height: 28.11px;
      margin-bottom: 6%;
    }
    &--text {
      color: #ffffff;
      font-family: $Ubuntu, "Arial Narrow", sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 6%;
    }
    &--btn {
      @include btn(#fff, $dark, #1f2122);
      padding: 2.5px 15px;
      font-family: $Ubuntu, "Arial Narrow", sans-serif;
      font-size: 13px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
    }
  }
}