//team section
.team {
  @include section('../img/team/team.jpg');
  background-position: top center;
  position: relative;
  &__wrap {
    background-color: $dark;
    opacity: 0.93;
    position: absolute;
    width: 49%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
  &__list {
    margin-bottom: 5%;
  }
  &__name {
    color: #ffffff;
    font-family: $Gagalin, "Arial Narrow", sans-serif;
    font-weight: 400;
    cursor: pointer;
    &::before {
      content: "";
      background: url('../img/icons/arrow-down.svg') center center no-repeat;
      width: 9px;
      height: 7px;
      display: inline-block;
      margin-right: 10px;
    }
  }
  &__figure {
    height: 0;
    visibility: hidden;
    display: flex;
  }
  &__clip {
    clip-path: circle(42% at 53% 48%);
  }
  &__figcaption {
    flex: 1;
    color: #ffffff;

  }
  &__prof {
    font-weight: 700;
    margin-bottom: 7%;
  }
  &__text {
    font-weight: 300;
    line-height: 1.7;
  }
  &__item {
    position: relative;
    margin-bottom: 10%;
    &--active {
      margin-bottom: 0;
      .team__name {
        color: $yellow;
        margin-bottom: 5%;
      }
      .team__figure {
        height: 100%;
        visibility: visible;
        margin-bottom: 10%;
      }
      .team__name::before {
        background: url('../img/icons/arrow-up.svg') center center no-repeat;
      }
    }
  }
  &__content {
    display: flex;
    margin: 0 auto;
    max-width: 380px;
    height: 100%;
    justify-content: center;
    align-items: center;
    &-wrap {
      display: flex;
      flex-direction: column;
      margin-left: 5%;
    }
    &-title {
      @include title($yellow, left);
      margin-bottom: 11%;
    }
  }
}