//team section
.team {
  @include section('../img/team/team.jpg');
  background-position: top center;
  position: relative;
  &__wrap {
    background-color: $dark;
    opacity: 0.93;
    position: absolute;
    width: 49%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    @include tablets() {
      width: 100%;
    }
  }
  &__list {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
  }
  &__name {
    color: #ffffff;
    font-family: $Gagalin, "Arial Narrow", sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    @include tablets() {
      text-align: center;
      font-size: rem(25px);
    }
    &::before {
      content: "";
      background: url('../img/icons/sprite.svg#arrow-down-view') center center no-repeat;
      width: 12px;
      height: 10px;
      display: inline-block;
      margin-right: 10px;
    }
  }
  &__figure {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    @include tablets() {
      flex-direction: column;
      align-items: center;
    }
  }
  &__clip {
    margin: 0 20px;
    @include tablets() {
      margin-bottom: 4%;
    }
  }
  &__img {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    object-fit: cover;
  }
  &__figcaption {
    flex: 1;
    color: #ffffff;
    @include tablets() {
      text-align: center;
    }
  }
  &__prof {
    font-weight: 700;
    margin-bottom: 7%;
    @include tablets() {
      margin-bottom: 4%;
    }
  }
  &__text {
    font-weight: 300;
    line-height: 1.7;
  }
  &__item {
    position: relative;
    margin-bottom: 10%;
    @include tablets() {
      display: flex;
      flex-direction: column;
    }
    &--active {
      margin-bottom: 0;
      .team__name {
        color: $yellow;
        margin-bottom: 5%;
      }
      .team__figure {
        height: 100%;
        opacity: 1;
        visibility: visible;
        margin-bottom: 10%;
        @include tablets() {
          margin-bottom: 8%;
        }
      }
      .team__name::before {
        background: url('../img/icons/sprite.svg#arrow-up-view') center center no-repeat;
      }
    }
  }
  &__content {
    display: flex;
    margin: 0 auto;
    max-width: 380px;
    height: 100%;
    justify-content: center;
    align-items: center;
    &-wrap {
      display: flex;
      flex-direction: column;
      margin-left: 5%;
      @include tablets() {
        margin-left: 0;
      }
    }
    &-title {
      @include title($yellow,
      left);
      margin-bottom: 11%;
      @include tablets() {
        text-align: center;
      }
      @include mobile() {
        font-size: rem(60px);
      }
    }
  }
}