//we section
.we {
  @include section('../img/we/we.jpg');
  &__container {
    align-items: center;
  }
  &__title {
    @include title($dark, center);
    margin: 11% 0 4%;
  }
  &__list {
    display: flex;
    margin: 0 -1%;
  }
  &__item {
    flex: 0 1 (96% / 3);
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-img {
      height: 89px;
      width: 100%;
      margin-bottom: 8%;
      &--meat {
        background: url('../img/icons/meat.svg') center center no-repeat;
      }
      &--hand {
        background: url('../img/icons/hand.svg') center center no-repeat;
      }
      &--natural {
        background: url('../img/icons/natural.svg') center center no-repeat;
      }
    }
    &-title {
      color: $dark;
      font-family: $Lifehack, "Arial Narrow", sans-serif;
      font-size: rem(24px);
      letter-spacing: rem(-0.6px);
      margin-bottom: 4%;
      line-height: 1.2;
    }
    &-text {
      opacity: 0.8;
      color: $dark;
      font-weight: 300;
      line-height: 1.8;
    }
  }
}