.work {
  @include section('../img/work/work.jpg');
  &__container {
    @include container();
    justify-content: center;
    align-items: center
  }
  &__title {
    @include title($dark, center);
    margin-bottom: 50px;
  }
}

.player {
  max-width: 660px;
  max-height: 405px;
  margin: 0 auto;
  background-color: #3e3e3e;
  position: relative;
  display: flex;
  flex-direction: column;
  &__video {
    display: block;
    width: 100%;
    height: auto;
    &-wrap {
      position: relative;
    }
  }
  &__start {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000, .4);
    transition: opacity .5, left .5;
    &--hidden {
      opacity: 0;
      left: -9999px;
    }
    &-button {
      @include offBtnStyle;
      cursor: pointer;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 50%;
      right: 0;
      transform: translate(-50%, -50%);
    }
    &-icon {
      fill: rgba(#fff, .9);
    }
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3e3e3e;
    padding: 0 20px;
    @include tablets() {
      padding: 0 rem(38px);
    }
  }
  &__play {
    &-icon {
      margin-left: -10px;
    }
  }
  &__volume {
    @include tablets() {
      display: none;
    }
  }
  &__play,
  &__volume {
    height: rem(35px);
    &-button {
      @include offBtnStyle;
      cursor: pointer;
    }
    &-icon {
      width: rem(36px);
      height: rem(35px);
      fill: #626262;
    }
  }
  &__pause {
    width: rem(30px);
    height: rem(35px);
    display: none;
    margin-left: -20px;
    @include tablets() {
      margin-left: 0;
    }
    &-button {
      @include offBtnStyle;
      cursor: pointer;
      height: 100%;
    }
    &-bars {
      height: 100%;
      width: rem(15px);
      position: relative;
      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #626262;
        width: rem(5px);
        height: rem(20px);
        border-radius: 3px;
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
  }
  &__playback {
    position: relative;
    width: 444px;
    height: 5px;
    background-color: #626262;
    cursor: pointer;
    @include tablets() {
      width: 100%;
    }
    &--volume {
      width: 60px;
      @include tablets() {
        display: none;
      }
    }
    &-input,
    .player__volume-input {
      @include offBtnStyle;
      cursor: pointer;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(-50%);
      background-color: #626262;
      border-radius: 50%;
    }
  }
}